<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="net.simplyadvanced.simplytonegenerator" >

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".mainpage.MainActivity"
            android:label="@string/app_name" >

            <!-- android:windowSoftInputMode="stateHidden" -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".settings.PrefActivity"
            android:label="@string/settings_activity_title"
            android:parentActivityName=".mainpage.MainActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.simplyadvanced.simplytonegenerator.mainpage.MainActivity" />
        </activity>
    </application>

</manifest>
